<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <h1>Create Model</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="text" name="model_name">
        <input type="file" name="modelh5">
        <input type="file" name="label">  <!-- New file input for uploading label file -->
        <input type="submit">
    </form>
    
    <h1>All Model Names</h1>
    <table border="1">
        <tr>
            <th>Model Name</th>
            <th>Delete</th> <!-- New column for the delete button -->
        </tr>
        {% for model_name in model_names %}
            <tr>
                <td>{{ model_name }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_model', model_name=model_name) }}">
                        <button type="submit">Delete</button>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
